<form [formGroup]="form">
    <div class="mb-3">
        <label for="oldPassword" class="form-label">
            Old Password
        </label>
        <input 
            formControlName="oldPassword"
            type="password" 
            name="oldPassword" 
            id="oldPassword"
            class="form-control">

        <div 
            class="alert alert-danger"
            *ngIf="oldPassword?.touched && oldPassword?.invalid">
            <div *ngIf="oldPassword?.errors?.['required']">Old password is required.</div>
            <div *ngIf="oldPassword?.errors?.['passwordIncorrect']">Old password is not valid.</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="newPassword" class="form-label">
            New Password
        </label>
        <input 
            formControlName="newPassword"
            type="password" 
            name="newPassword" 
            id="newPassword"
            class="form-control">
        <div 
            class="alert alert-danger"
            *ngIf="newPassword?.touched && newPassword?.invalid">
            <div *ngIf="newPassword?.errors?.['required']">New password is required.</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">
            Confirm Password
        </label>
        <input 
            formControlName="confirmPassword"
            type="password" 
            name="confirmPassword" 
            id="confirmPassword"
            class="form-control">

        <div 
            class="alert alert-danger"
            *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
            <div *ngIf="confirmPassword?.errors?.['required']">Current password is required.</div>
        </div>
        <div 
            class="alert alert-danger"
            *ngIf=" confirmPassword?.touched && form.errors?.['mismatch']">
            <div *ngIf="form.errors?.['mismatch']">Password don't match.</div>
        </div>
    </div>

    <button 
        class="btn btn-primary"
        [disabled]="!form.valid">
        Change Password
    </button>
</form>
